<%- include('../../partials/header.ejs') %>
<div class="container-fluid">
  <div class="row g-4">
    <div class="col-3 px-0" style="background-color: #86A3B8;">
      <%- include('../../partials/sidebar.ejs') %>
    </div>
    <div class="col-9">
      <div class="card my-3 py-3">
        <div class="card-body">
          <h5 class="text-secondary mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
            </svg>
            List of employee</h5>
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="employee_table">
              <thead class="table-dark">
                <tr class="text-center">
                  <th>#ID</th>
                  <th>Employee name</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Joining Date</th>
                  <th>Email</th>
                  <th>Contact No</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (employees.length !== 0) { %>
                  <% let allEmployee = [] %>
                 <% employees.forEach(employee => { %>
                  <tr>
                    <td class="text-center" style="width: 20px;"> <%= employee.id %> </td>
                    <td> <%= employee.fullName %> </td>
                    <td> <%= employee.role %> </td>
                    <td> <%= employee.Department.departmentName %> </td>
                    <td> <%= employee.joiningDate %> </td>
                    <td> <%= employee.email %> </td>
                    <td> <%= employee.contactNo %> </td>
                    <td>
                      <img src="<%= employee.profilePic %>" alt="employee picture" width="60" height="auto" class="mx-auto d-block"> 
                    </td>
  
                    <td class="text-center">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a class="btn btn-outline-warning px-4 employeeEditBtn" href="#">Edit</a>
                        <a class="btn btn-outline-danger" href="#" role="button">Delete</a>
                      </div>
                      </div>
                    </td>
                  </tr>
                 <% }) %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>