<%- include('../../partials/header.ejs') %>
<div class="container-fluid">
  <div class="row g-4">
    <div class="col-3 px-0">
      <%- include('../../partials/sidebar.ejs') %>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <% if (errorMsgs.length !== 0) { %>
           <% errorMsgs.forEach(errorMsg => { %>
            <% if (errorMsg) { %>
              <div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
                <strong><%=  errorMsg %> </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% } %>
           <% }) %>
          <% } %>
        </div>
      </div>
      
      <div class="card m-4">
        <div class="card-body">
          <h4 class="text-secondary text-center my-4">Employee edit profile</h4>
          <div class="row">
            <div class="col">
              <p class="fw-bolder">Current profile picture</p>
              <img src="<%= employee.profilePic %>" alt="profile pic" class="img-fluid img-thumbnail" width="180" height="auto">
            </div>
            <div class="col">
            </div>
          </div>

          <form action="/employee/edit/<%= employee.id %>" method="post" enctype="multipart/form-data" class="my-3">
            <div class="row">
              <div class="col">
                <label for="fullName" class="fw-semibold mb-1">Employee Name</label>
                <input type="text" class="form-control" name="fullName" value="<%= employee.fullName %>">
              </div>
              <div class="col">
                <label for="department" class="fw-semibold mb-1">Choose Department</label>
                <select class="form-select"  name="department" aria-label="department">
                  <option value="">Select one....</option>
                  <option value="<%= employee.Department.id.toString() %>" selected><%= employee.Department.departmentName %> (already selected)</option>
                  <% const notSelectedDepartments = departmentList.filter(list => list.id !== employee.Department.id) %>
                  <% notSelectedDepartments.forEach(department => { %>
                   <option value="<%= department.id %>"><%= department.departmentName %></option>
                  <% }) %>
                </select>
              </div>
            </div>

            <div class="row my-3">
              <div class="col">
                <label for="joiningDate" class="fw-semibold mb-1">Joined Date</label>
                <input type="date" class="form-control" name="joiningDate" value="<%= employee.joiningDate %>">
              </div>
              <div class="col">
                <label for="role" class="fw-semibold mb-1">Role</label>
                <input type="text" class="form-control" name="role" value="<%= employee.role %>">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="salary" class="fw-semibold mb-1">Salary</label>
                <input type="text" class="form-control" name="salary" value="<%= employee.salary %>">
              </div>
              <div class="col">
                <label for="email" class="fw-semibold mb-1">Email</label>
                <input type="email" class="form-control" name="email" value="<%= employee.email %>">
              </div>
            </div>

            <div class="row my-3">
              <div class="col">
                <label for="contactNo" class="fw-semibold mb-1">Contact No.</label>
                <input type="tel" class="form-control" name="contactNo" value="<%= employee.contactNo %>">
              </div>
              <div class="col">
                <label for="nid_no" class="fw-semibold mb-1">National id no</label>
                <input type="text" class="form-control" name="nid_no" value="<%= employee.nid_no %>">
              </div>
            </div>

            <div class="row my-3">
              <div class="col">
                <label for="education" class="fw-semibold mb-1">Education status</label>
                <input type="text" class="form-control" name="education" value="<%= employee.education %>">
              </div>
              <div class="col">
                <label for="dateOfBirth" class="fw-semibold mb-1">Date of birth</label>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" value="<%= employee.dateOfBirth %>">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="gender" class="fw-semibold mb-1">Gender</label>
                <select class="form-select" name="gender" aria-label="gender">
                  <option value="<%= employee.gender %>" selected><%= employee.gender %></option>
                  <% if (employee.gender === 'Male') { %>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  <% } else if (employee.gender === 'Female') { %>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                  <% } else { %>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  <% } %>
                </select>
              </div>
              <div class="col">
                <label for="profilePic" class="mb-1">Attach picture</label>
                <input type="file" class="form-control" name="profilePic">
                <p class="text-warning mt-2">Image must be less then 200kb & resulation width 200px * height 200px</p>
              </div>
            </div>

            <h5 class="text-muted my-4">Present Address</h5>
            <div class="row">
              <div class="col">
                <label for="present_street" class="fw-semibold mb-1">Street</label>
                <input type="text" class="form-control" id="present_street" name="present_street" value="<%= employee.present_street %>">
              </div>
              <div class="col">
                <label for="present_city" class="fw-semibold mb-1">City</label>
                <input type="text" class="form-control" id="present_city" name="present_city" value="<%= employee.present_city %>">
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label for="present_district" class="fw-semibold mb-1">District</label>
                <input type="text" class="form-control" id="present_district" name="present_district" value="<%= employee.present_district %>">
              </div>
              <div class="col">
                <label for="present_country" class="fw-semibold mb-1">Country</label>
                <input type="text" class="form-control" id="present_country" name="present_country" value="<%= employee.present_country %>">
              </div>
            </div>

            <h5 class="text-muted my-4">Permanent Address</h5>
            <div class="row">
              <div class="col">
                <label for="permanent_street" class="fw-semibold mb-1">Street</label>
                <input type="text" class="form-control" id="permanent_street" name="permanent_street" value="<%= employee.permanent_country %>">
              </div>
              <div class="col">
                <label for="permanent_city" class="fw-semibold mb-1">City</label>
                <input type="text" class="form-control" id="permanent_city" name="permanent_city" value="<%= employee.permanent_country %>">
              </div>
            </div>
            <div class="row my-3">
              <div class="col">
                <label for="permanent_district" class="fw-semibold mb-1">District</label>
                <input type="text" class="form-control" id="permanent_district" name="permanent_district" value="<%= employee.permanent_country %>">
              </div>
              <div class="col">
                <label for="permanent_country" class="fw-semibold mb-1">Country</label>
                <input type="text" class="form-control" id="permanent_country" name="permanent_country" value="<%= employee.permanent_country %>">
              </div>
            </div>
            
            <input class="btn btn-warning" type="submit" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>