<%- include('../partials/header.ejs') %>
<div class="container-fluid">
  <div class="row g-4">
    <div class="col-3 px-0" style="background-color: #86A3B8;">
      <%- include('../partials/sidebar.ejs') %>
    </div>
    <div class="col-9">
      <div class="card my-3 py-3">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="text-secondary mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            <%= title %></h5>
            <form action="/search" method="get" role="search" class="d-flex ms-auto mb-3">
              <input class="form-control me-2" type="search" name="term" placeholder="Search by department, role" aria-label="Search" style="width: 234px">
              <button class="btn btn-outline-info" type="submit">Search</button>
            </form>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="employee_table">
              <thead class="table-dark text-center">
                <tr>
                  <th>#ID</th>
                  <th>Employee name</th>
                  <th>Role</th>
                  <th>Department</th>
                  <th>Joining Date</th>
                  <th>Email</th>
                  <th>Contact No</th>
                  <th>Photo</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (employees.length !== 0) { %>
                  <% let allEmployee = [] %>
                 <% employees.forEach(employee => { %>
                  <tr>
                    <td class="text-center"> <%= employee.id %> </td>
                    <td> <%= employee.fullName %> </td>
                    <td> <%= employee.role %> </td>
                    <td> <%= employee.Department.departmentName %> </td>
                    <td> <%= employee.joiningDate %> </td>
                    <td> <%= employee.email %> </td>
                    <td> <%= employee.contactNo %> </td>
                    <td>
                      <img src="<%= employee.profilePic %>" alt="employee picture" width="60" height="auto" class="mx-auto d-block"> 
                    </td>
  
                    <td class="text-center">
                      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <a href="/employee/profile/<%= employee.id %>" class="text-secondary viewBtn" data-bs-toggle="tooltip" data-bs-placement="top" title="View profile">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                          </svg>
                        </a>
                        <a href="/employee/edit/<%= employee.id %>" class="px-1 text-warning employeeEditBtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit profile">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                          </svg>
                        </a>
                        <a href="/employee/delete/<%= employee.id %>" class="text-danger dltBtn" data-bs-toggle="tooltip" data-bs-placement="left" title="Delete employee">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                            <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
                          </svg>
                        </a>
                      </div>
                      </div>
                    </td>
                  </tr>
                 <% }) %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
        <% if (totalPage > 1) { %>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="<%= `/search?term=${term}&page=${currentPage - 1}` %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for( let i = 1; i <= totalPage; i++ ) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="<%= `/search?term=${term}&page=${i}` %> "><%= i %> </a>
                </li>
              <% } %>
              <li class="page-item <%= currentPage === totalPage ? 'disabled' : '' %>">
                <a class="page-link" href="<%= `/search?term=${term}&page=${currentPage + 1}` %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        <% } %>
      </div>
    </div>
  </div>
</div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>